/*=== CSS al registro ===*/
form{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 7px;
}
form input{
    margin-bottom: 15px;
}
/*=== CSS al formulario ===*/
.formulario{
    margin:auto;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius:5px;
}
.tituloRegister{
    padding: 30px;
    text-align: center;
}
.perfil-Usuario{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 15px;
}

.intereses{
    padding-top: 15px;
    align-self: center;
}
.intereses input{
    margin-right: 5px;
}

/*=== CSS a los botones ===*/

.button {
    margin-top: 30px;
    color: white;
    border: none;
    padding: 1em;
    border-radius: 3px;
    width: 49%;
}
.btnBorrar{
    background-color: red;
}
.btnEnviar{
    background-color: rgb(0, 51, 255);
}

@media (min-width: 361px){
    
}

@media (min-width: 769px){
    .formulario{
        width: 40%;
    }
    .perfil-Usuario {
        width: 40%;
    }
}